.book-shelf-changer {
  background: #98cbe1;
  background-image: url("../icons/arrow-drop-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 50%;
  bottom: -10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;
}

.book-shelf-changer select {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}
